## ignore from macbook
.DS_Store
**/.DS_Store
Sscr_PWS_RNA-Seq/.DS_Store

# help and manfiles to ignore
Sscr_PWS_WGS_Illumina/BashScripts/VCFtools_man.txt
Sscr_PWS_RNA-Seq/RNAvar_nfcore/vep_help.txt

## scRNA-Seq input/output to ignore
Sscr_PWS_RNA-Seq/GSE_139512_PigOocytescRNAseq/GSE139512_fpkm.txt.gz
Sscr_PWS_RNA-Seq/GSE_139512_PigOocytescRNAseq/GSE139512%5Ffpkm.txt
Sscr_PWS_RNA-Seq/GSE_139512_PigOocytescRNAseq/GSE139512%5Ffpkm.txt.gz
Sscr_PWS_RNA-Seq/GSE_139512_PigOocytescRNAseq/GSE_139512_PigOocytescRNAseq.Rproj
Sscr_PWS_RNA-Seq/GSE_139512_PigOocytescRNAseq/GSE_139512_family.xml
Sscr_PWS_RNA-Seq/GSE_139512_PigOocytescRNAseq/GSE_139512_family.xml.tgz
Sscr_PWS_RNA-Seq/GSE_139512_PigOocytescRNAseq/GSE139512_family.xml.tgz
Sscr_PWS_RNA-Seq/GSE_139512_PigOocytescRNAseq/Sscr_GTF/Sus_scrofa.Sscrofa10.2.87.gtf.gz
Sscr_PWS_RNA-Seq/GSE_139512_PigOocytescRNAseq/nohup.out



# Default R files

##large .Rds
*.rds
**/*.rds

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
